
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;400;700&display=swap');

*{ padding: 0; margin: 0; border: 0; font-size: 18px; line-height: 24px; cursor: default; }
*,*:before,*:after{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: inherit;
	line-height: inherit;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
	/* font-family: 'Ubuntu', sans-serif; */
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button::-moz-focus-inner {padding:0;border:0;}
/* a, a:visited{text-decoration: none;color: $dark} */
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body {
  margin: 0;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: 1px 1px 15px -15px rgba(34, 60, 80, 0.2) inset;
  background-color: transparent;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: red;
}

body::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: linear-gradient(180deg, #000000, #cabdb0, #000000);
}

html {
  overflow: hidden;
  background: #070504;
}

h1 {
  font-size: 3.5rem;
  font-weight: 200;
  white-space: nowrap;
}